body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }
  
  .bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
  
  }
  .bgimg-1 {
    background-image: url("../img/sailboat-1.jpg");
    min-height: 100%;
    background-size: cover;
  }
  
  .bgimg-2 {
    background-image: url("../img/nyc-1.jpg");
    min-height: 100%;
    background-size: cover;
  }
  
  .bgimg-3 {
    background-image: url("../img/bob-and-moose.jpeg");
    min-height: 100%;
    background-size: 950px 700px;
    background-color: rgb(7, 117, 243);
  }
  
  .caption {
    background: rgba(0, 71, 224, 0.1);
    position: absolute;
    /* opacity: 40%; */
    /* left: 0; */
    /* top: 10%; */
    width: 100%;
    text-align: center;
    /* color: #000; */
  }
  
  span {
    
    color: rgb(30, 0, 161);
    font-family: 'IM Fell English SC', serif;
    font-size: 50px;

    background: -webkit-linear-gradient(rgb(3, 19, 167), rgb(2, 82, 187));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    border-radius: 25px; */
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Caladea', serif;
    font-size: 25px;
    font-weight: 600;
    color: #111;
  }

  p{
    font-family: 'Caladea', serif;
    font-weight: 300;
  }
  
/*MEDIA QUERIES*/
/*Desktop first design, but obviously mobile is still a consideration*/
@media only screen and (max-width: 400px) {
  .bgimg-1 {
    background-image: url();
    background-size: 100%;
  } 
  .bgimg-2 {
    background-size: 100%;
  }
  .bgimg-3 {
    background-size: 400px 500px;
  
  }
}
  